html
  head
    title Language Learning App - Home
    link(rel='stylesheet', href='/styles/home.css')
    script.
      function toggleDropdown() {
        const dropdown = document.getElementById("dropdownMenu");
        dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
      }

      // Optional: Hide dropdown if clicked outside
      window.onclick = function(event) {
        const dropdown = document.getElementById("dropdownMenu");
        if (!event.target.matches('.username')) {
          dropdown.style.display = "none";
        }
      }

  body
    nav
      ul
        if user
          li.dropdown
            span.username(onclick='toggleDropdown()') #{user.username}
            ul#dropdownMenu.dropdown-menu
              li: a(href='/users/logout') Logout
        else
          li: a(href='/users/login') Login
          li: a(href='/users/register') Sign Up


    .home-page
      h1 Welcome to the Language Learning App!
      p Start practicing vocabulary with flashcards.

      if user
        a(href='/flashcards')
          button(type='button' class='home-button') Go to Flashcards
      else
        a(href='/users/login')
          button(type='button' class='home-button') Go to Flashcards
