head
  title Create New Flashcard
  link(rel='stylesheet', href='/styles/create-flashcard.css')

body
  a.home-link(href='/') Home

  block content
    form(action='/flashcards/create', method='POST')
      h1 Create New Flashcard

      label(for='word') Word:
      input(type='text', id='word', name='word', maxlength="20" required)

      label(for='translation') Translation:
      input(type='text', id='translation', name='translation', maxlength="20" required)

      label(for='example') Example Sentence:
      input(type='text', id='example', name='example')

      label(for='topic') Topic:
      input(type='text', id='topic', name='topic')

      button(type='submit') Submit
