head
  title Flashcards
  link(rel='stylesheet', href='/styles/flashcards.css')

body
  a.home-link(href='/') Home

  h1 Flashcards

  a(href='/flashcards/create') Add New Flashcard

  if flashcards.length > 0
    ul
      each flashcard in flashcards
        li
     
          strong= flashcard.word
          strong= flashcard.translation
          
          
          
          // Edit and Delete links
          a(href='/flashcards/' + flashcard._id + '/edit') Edit
          a(href='/flashcards/' + flashcard._id + '/delete') Delete
  else
    p No flashcards available.
